<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

# Assignment: Exploratory Data Analysis with SQL
Estimated time needed: 60 minutes


# Introduction
Using this R notebook you will perform exploratory data analysis using SQL queries with the RSQLite R package. You will be graded on the accuracy of your results as well as the content of your SQL queries.

### Establish your SQlIte connection
Load the 'RSQLite' library, and use the 'dbConnect( )' function as you did in the previous lab to establish the connection to your SQLite database.  
You are now ready to start running SQL queries using the RSQLite library as you did in Course 3.

In [4]:
# Reinstall rlang and RSQLite
install.packages("RSQLite")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [1]:
# provide your solution here
library("RSQLite")
library("dplyr")
library("lubridate")

Warning message:
“replacing previous import ‘lifecycle::last_warnings’ by ‘rlang::last_warnings’ when loading ‘tibble’”Warning message:
“replacing previous import ‘ellipsis::check_dots_unnamed’ by ‘rlang::check_dots_unnamed’ when loading ‘tibble’”Warning message:
“replacing previous import ‘ellipsis::check_dots_used’ by ‘rlang::check_dots_used’ when loading ‘tibble’”Warning message:
“replacing previous import ‘ellipsis::check_dots_empty’ by ‘rlang::check_dots_empty’ when loading ‘tibble’”
Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Attaching package: ‘lubridate’

The following objects are masked from ‘package:dplyr’:

    intersect, setdiff, union

The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

In [2]:
con <- dbConnect(RSQLite::SQLite(),"TestDB.sqlite")
con

<SQLiteConnection>
  Path: /resources/labs/FinalRSQLite/TestDB.sqlite
  Extensions: TRUE

Download the following csv files:

*   [WORLD_CITIES](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv)

*   [BIKE_SHARING_SYSTEMS](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv)

*   [CITIES_WEATHER_FORECAST](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv)

*   [SEOUL_BIKE_SHARING](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv)

and load the csv's  into 4 tables as mentioned below
* SEOUL_BIKE_SHARING

* CITIES_WEATHER_FORECAST

* BIKE_SHARING_SYSTEMS 

*  WORLD_CITIES

> Hint : Use the read_csv() function and dbWriteTable() functions


## Task 1 - Record Count
#### Determine how many records are in the seoul_bike_sharing dataset.

### Solution 1

In [3]:
# provide your solution here
#read csv file
seoul_bike_sharing <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv"  
seoul_bike_sharing <- read.csv(seoul_bike_sharing)

cities_weather_forecast <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv"  
cities_weather_forecast <- read.csv(cities_weather_forecast)

bike_sharing_systems <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv"  
bike_sharing_systems <- read.csv(bike_sharing_systems)

world_cities <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv"  
world_cities <- read.csv(world_cities)

In [4]:
#write csv to con
list_csv <- list(seoul_bike_sharing,cities_weather_forecast,bike_sharing_systems,world_cities)
for (item in list_csv){
    dbWriteTable(con, deparse(substitute(item)),item, overwrite = TRUE)
    dbReadTable(con, deparse(substitute(item))) 
}

In [5]:
#records are in the seoul_bike_sharing dataset
record_seoul <- nrow(seoul_bike_sharing)
record_seoul

[1] 8465

## Task 2 - Operational Hours
#### Determine how many hours had non-zero rented bike count.

### Solution 2

In [19]:
head(seoul_bike_sharing)

  DATE       RENTED_BIKE_COUNT HOUR TEMPERATURE HUMIDITY WIND_SPEED VISIBILITY
1 01/12/2017 254               0    -5.2        37       2.2        2000
2 01/12/2017 204               1    -5.5        38       0.8        2000
3 01/12/2017 173               2    -6.0        39       1.0        2000
4 01/12/2017 107               3    -6.2        40       0.9        2000
5 01/12/2017  78               4    -6.0        36       2.3        2000
6 01/12/2017 100               5    -6.4        37       1.5        2000
  DEW_POINT_TEMPERATURE SOLAR_RADIATION RAINFALL SNOWFALL SEASONS HOLIDAY
1 -17.6                 0               0        0        Winter  No Holiday
2 -17.6                 0               0        0        Winter  No Holiday
3 -17.7                 0               0        0        Winter  No Holiday
4 -17.6                 0               0        0        Winter  No Holiday
5 -18.6                 0               0        0        Winter  No Holiday
6 -18.7                 0               0        0        Winter  No Holiday
  FUNCTIONING_DAY
1 Yes
2 Yes
3 Yes
4 Yes
5 Yes
6 Yes

In [5]:
# provide your solution here
hour <- seoul_bike_sharing %>% 
    select(RENTED_BIKE_COUNT, HOUR) %>%
    filter(HOUR > 0) 

hour <- sum(hour$HOUR)/sum(seoul_bike_sharing$HOUR)
hour

[1] 1

## Task 3 - Weather Outlook
#### Query the the weather forecast for Seoul over the next 3 hours.
Recall that the records in the CITIES_WEATHER_FORECAST dataset are 3 hours apart, so we just need the first record from the query.

### Solution 3

In [75]:
# provide your solution here
head(cities_weather_forecast,1)

  CITY  WEATHER VISIBILITY TEMP  TEMP_MIN TEMP_MAX PRESSURE HUMIDITY WIND_SPEED
1 Seoul Clear   10000      12.32 10.91    12.32    1015     50       2.18
  WIND_DEG SEASON FORECAST_DATETIME
1 248      Spring 2021-04-16 12:00:00

## Task 4 - Seasons
#### Find which seasons are included in the seoul bike sharing dataset.

### Solution 4

In [12]:
# provide your solution here
unique(seoul_bike_sharing$SEASON)

[1] Winter Spring Summer Autumn
Levels: Autumn Spring Summer Winter

## Task 5 - Date Range
#### Find the first and last dates in the Seoul Bike Sharing dataset.

### Solution 5

In [ ]:
# provide your solution here
# print(seoul_bike_sharing$DATE)


sort((seoul_bike_sharing$DATE))
first_date<- first(seoul_bike_sharing$DATE)
print(paste("First date of Seoul Bike Sharing datase:", first_date))
last_date <- last(seoul_bike_sharing$DATE)
print(paste("Last date of Seoul Bike Sharing datase:", last_date))

## Task 6 - Subquery - 'all-time high'
#### determine which date and hour had the most bike rentals.

### Solution 6

In [7]:
# provide your solution here
date <- seoul_bike_sharing %>%
        filter(RENTED_BIKE_COUNT == max(RENTED_BIKE_COUNT)) %>%
        select(DATE, HOUR)

date

  DATE       HOUR
1 19/06/2018 18

## Task 7 - Hourly popularity and temperature by season
#### Determine the average hourly temperature and the average number of bike rentals per hour over each season. List the top ten results by average bike count.

### Solution 7

In [8]:
season_summary <- seoul_bike_sharing %>%
  group_by(SEASONS) %>%
  summarise(
    avg_temp = mean(TEMPERATURE),
    avg_rental = mean(RENTED_BIKE_COUNT)
  )

season_summary
top_ten <- seoul_bike_sharing %>%
    filter(seoul_bike_sharing$RENTED_BIKE_COUNT > mean(RENTED_BIKE_COUNT))
head(top_ten,10)

  SEASONS avg_temp  avg_rental
1 Autumn  13.821580  924.1105
2 Spring  13.021685  746.2542
3 Summer  26.587711 1034.0734
4 Winter  -2.540463  225.5412

   DATE       RENTED_BIKE_COUNT HOUR TEMPERATURE HUMIDITY WIND_SPEED VISIBILITY
1  01/12/2017 930                8   -7.6        37       1.1        2000
2  01/12/2017 862               18    0.6        66       1.4        2000
3  04/12/2017 937                8   -0.8        69       3.5         954
4  04/12/2017 807               18   -2.1        29       3.9        2000
5  05/12/2017 812                8   -8.1        36       1.6        2000
6  05/12/2017 789               18   -2.6        40       0.0        2000
7  06/12/2017 802                8   -4.2        78       0.0        1518
8  07/12/2017 754                8   -0.2        96       0.8         173
9  07/12/2017 795               18    0.7        46       2.7        1558
10 08/12/2017 780                8   -7.0        59       0.8        1559
   DEW_POINT_TEMPERATURE SOLAR_RADIATION RAINFALL SNOWFALL SEASONS HOLIDAY
1  -19.8                 0.01            0        0.0      Winter  No Holiday
2   -5.0                 0.00            0        0.0      Winter  No Holiday
3   -5.7                 0.01            0        0.0      Winter  No Holiday
4  -17.7                 0.00            0        0.0      Winter  No Holiday
5  -20.5                 0.01            0        0.0      Winter  No Holiday
6  -14.4                 0.00            0        0.0      Winter  No Holiday
7   -7.4                 0.01            0        0.2      Winter  No Holiday
8   -0.7                 0.01            0        0.8      Winter  No Holiday
9   -9.6                 0.00            0        0.0      Winter  No Holiday
10 -13.6                 0.01            0        0.0      Winter  No Holiday
   FUNCTIONING_DAY
1  Yes
2  Yes
3  Yes
4  Yes
5  Yes
6  Yes
7  Yes
8  Yes
9  Yes
10 Yes

## Task 8 - Rental Seasonality
#### Find the average hourly bike count during each season. 
Also include the minimum, maximum, and standard deviation of the hourly bike count for each season. 

> Hint : Use the SQRT(AVG(col*col) - AVG(col)*AVG(col) ) function where col refers to your column name for finding the standard deviation

### Solution 8

In [18]:
bike_count_summary <- seoul_bike_sharing %>%
  group_by(SEASONS) %>%
  summarise(
    avg_bike_count = mean(RENTED_BIKE_COUNT),
    min_bike_count = max(RENTED_BIKE_COUNT),
    max_bike_count = min(RENTED_BIKE_COUNT),
    sd_bike_count = sd(RENTED_BIKE_COUNT),
  )

bike_count_summary

  SEASONS avg_bike_count min_bike_count max_bike_count sd_bike_count
1 Autumn   924.1105      3298           2              617.5479
2 Spring   746.2542      3251           2              618.6680
3 Summer  1034.0734      3556           9              690.2448
4 Winter   225.5412       937           3              150.3722

Let's explore a bit and see what might be the most significant contributing factors in terms of the provided data.

## Task 9 - Weather Seasonality
#### Consider the weather over each season. On average, what were the TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, and SNOWFALL per season?
Include the average bike count as well , and rank the results by average bike count so you can see if it is correlated with the weather at all.

### Solution 9

In [26]:
# provide your solution here
avg_summary <- seoul_bike_sharing %>%
    group_by(SEASONS) %>%
    summarise(
        avg_temp = mean(TEMPERATURE),
        avg_hum = mean(HUMIDITY),
        avg_wind = mean(WIND_SPEED),
        avg_visibility = mean(VISIBILITY),
        avg_dew_temp = mean(DEW_POINT_TEMPERATURE),
        avg_raditaion = mean(SOLAR_RADIATION),
        avg_rainfall = mean(RAINFALL),
        avg_snowfall = mean(SNOWFALL)
    )

avg_summary

  SEASONS avg_temp  avg_hum  avg_wind avg_visibility avg_dew_temp avg_raditaion
1 Autumn  13.821580 59.04491 1.492101 1558.174         5.150594   0.5227827
2 Spring  13.021685 58.75833 1.857778 1240.912         4.091389   0.6803009
3 Summer  26.587711 64.98143 1.609420 1501.745        18.750136   0.7612545
4 Winter  -2.540463 49.74491 1.922685 1445.987       -12.416667   0.2981806
  avg_rainfall avg_snowfall
1 0.11765617   0.06350026
2 0.18694444   0.00000000
3 0.25348732   0.00000000
4 0.03282407   0.24750000

## Task 10 - Total Bike Count and City Info for Seoul
#### Use an implicit join across the WORLD_CITIES and the BIKE_SHARING_SYSTEMS tables to determine the total number of bikes avaialble in Seoul, plus the following city information about Seoul: CITY, COUNTRY, LAT, LON, POPULATION, in a single view.
Notice that in this case, the CITY column will work for the WORLD_CITIES table, but in general you would have to use the CITY_ASCII column.

In [35]:
head(world_cities)
head(bike_sharing_systems)

  CITY     CITY_ASCII LAT     LNG      COUNTRY     ISO2 ISO3 ADMIN_NAME
1 Tokyo    Tokyo      35.6897 139.6922 Japan       JP   JPN  Tōkyō
2 Jakarta  Jakarta    -6.2146 106.8451 Indonesia   ID   IDN  Jakarta
3 Delhi    Delhi      28.6600  77.2300 India       IN   IND  Delhi
4 Mumbai   Mumbai     18.9667  72.8333 India       IN   IND  Mahārāshtra
5 Manila   Manila     14.5958 120.9772 Philippines PH   PHL  Manila
6 Shanghai Shanghai   31.1667 121.4667 China       CN   CHN  Shanghai
  CAPITAL POPULATION ID
1 primary 37977000   1392685764
2 primary 34540000   1360771077
3 admin   29617000   1356872604
4 admin   23355000   1356226629
5 primary 23088000   1608618140
6 admin   22120000   1156073548

  COUNTRY   CITY                  SYSTEM         BICYCLES
1 Albania   Tirana                NA              200
2 Argentina Mendoza               NA               40
3 Argentina San Lorenzo, Santa Fe Biciudad         80
4 Argentina Buenos Aires          Serttel Brasil 4000
5 Argentina Rosario               NA              480
6 Australia Melbourne             PBSC & 8D       676

### Solution 10

In [55]:
seoul_info <- world_cities %>%
  left_join(bike_sharing_systems, by = "CITY") %>%
  filter(CITY == "Seoul") %>%
  select(CITY, COUNTRY.x, LAT, LNG, POPULATION, BICYCLES) %>%
  rename(COUNTRY = COUNTRY.x) 
# Print the result
print(seoul_info)

Warning message:
“Column `CITY` joining factors with different levels, coercing to character vector”

   CITY      COUNTRY     LAT LNG POPULATION BICYCLES
1 Seoul Korea, South 37.5833 127   21794000    20000

## Task 11 - Find all city names and coordinates with comparable bike scale to Seoul's bike sharing system
#### Find all cities with total bike counts between 15000 and 20000. Return the city and country names, plus the coordinates (LAT, LNG), population, and number of bicycles for each city.
Later we will ask you to visualize these similar cities on leaflet, with some weather data.

### Solution 11

In [63]:
# provide your solution here
info <- world_cities %>%
  left_join(bike_sharing_systems, by = "CITY") %>%
  filter(!is.na(BICYCLES) & BICYCLES >= 15000 & BICYCLES <= 20000) %>%
  select(CITY, COUNTRY.x, LAT, LNG, POPULATION, BICYCLES) %>%
  rename(COUNTRY = COUNTRY.x) 
info

Warning message:
“Column `CITY` joining factors with different levels, coercing to character vector”

  CITY     COUNTRY      LAT     LNG      POPULATION BICYCLES
1 Shanghai China        31.1667 121.4667 22120000   19165
2 Seoul    Korea, South 37.5833 127.0000 21794000   20000
3 Beijing  China        39.9050 116.3914 19433000   16000
4 Weifang  China        36.7167 119.1000  9373000   20000
5 Ningbo   China        29.8750 121.5492  7639000   15000
6 Zhuzhou  China        27.8407 113.1469  3855609   20000

In [7]:
dbDisconnect(con)

## Author(s)

<h4> Jeff Grossman </h4>
<h4> Lakshmi Holla </h4>


## Other Contributor(s)

<h4>  Malika Singla </h4>

## Change log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2022-03-03        | 1.0     |Lakshmi Holla  | Created lab using sqlite3          |

## <h3 align="center"> © IBM Corporation 2022. All rights reserved. <h3/>